.main-content{
  margin-bottom: 150px;
}
.jumbotron{
  height: 300px;
  text-align: center;
  background-image: url('/assets/bookshelf.jpg');
  padding: 0;
  margin-top: -20px;

}
.img-overlay{
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  height: 100%;
}
.jumbotron h1{
  text-align: center;
  padding: 25px;
  font-family: 'Special Elite';
}
.search-field{
  width: 80%;
  margin: 20px auto;
}
.search-field #search{
  width: 50%;
  border-radius: 5px;
  height: 34px;
  border-style: none;
  color: black;
  text-align: center;
}
