@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-image: url('http://1079638729.rsc.cdn77.org/pic/v2/gallery/preview/fon-logotipy-yumor-16085.jpg');
  background-size:cover;
}

.main-content h1{
  text-align: center;
  font-size: 500%;
}

.clockdiv{
  margin: auto;
  table-layout: fixed;
  width: 100%;
  border: 3px solid black;
}
th, td{
  text-align: center;
  margin: 20px;
  font-size: 300%;
}
.clockdiv button{
  width: 80%;
}
