.main-body{
  top: 56px;
  margin-bottom: 150px;
  position: relative;
}
.main-content{
  width: 750px;
  margin: auto;
}
.main-content article{
  width: 100%;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.post-publish-date{
  font-style: italic;
  color: lightgrey;
}
.comment-box{
  border-width: 2px;
  border-style: solid;
  padding: 5px;
  margin: 5px;
}
