.form-area{
  width: 550px;
  margin: auto;
}
.form-area input{
  width: 100%;
}
.posting-area{
  height: 300px;
  width: 100%;
}
.new-post, .edit-post{
  text-align: center;
}
.back-button{
  width: 550px;
  margin: 5px auto;
}
.back-button .btn-info{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
