.navbar{
  margin: 0;
  width: 100%;
  top: 0;
  background-color: white;
  position: fixed;
  z-index: 9999;
}
.navbar .btn{
  margin: 10px;
}
.jumbotron{
  background-color: #E1F2FF;
  text-align: center;
  color: #4B5E63;
}
.jumbotron .profilepic{
  height: 150px;
  width: 150px;
  overflow: hidden;
  border-radius: 10px;
  margin: auto;
}
